<footer style="position: absolute; bottom: 0; height: 75px; background-color: black; width: 100%;">
	<div class="container text-center" style="padding-top: 20px; color: white;">
		<h5 style="font-size: 18px;">Made with <span style="color: white;"><i class="fa fa-heart"></i></span> Allison Shane</h5>
	</div>
</footer>