<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://espn.go.com">
        <img style="height: 30px;" alt="ESPN" src="<%= image_path("espn_logo.png") %>">
      </a>
    </div>
  </div>
</nav>