<nav class="navbar navbar-default" style="background-color: black">
  <div class="container-fluid" style="background-color: black">
    <div class="navbar-header" style="background-color: black">
      <a class="navbar-brand" href="http://espn.go.com">
        <img style="height: 30px;" alt="ESPN" src="<%= image_path("espn_white.png") %>">
      </a>
    </div>
  </div>
</nav>